
/* 
#023047
#fb8500
#ffb703
#219ebc
#8ecae6


*/
.Pokecard{
    border: 1px solid black;
    width: 250px;
    margin: 8px;
}
.Pokedex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}